<!DOCTYPE html>
<html ng-app="AdvertisementMs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="components/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body style="background-image: url('components/bg-texture.png');">
    <header class="container header">
      <h1>Advertisement Management System</h1>
    </header>
    <div class="container" style="margin-top: 20px">
      <div class="row bg-title">
        <h4 style="padding-left: 10px">Data</h4>
      </div>
      <div class="row bg-body" ng-controller="advertiserController">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked" ng-repeat="advertiser in allAdvertisers">
            <li ng-class="{ active: isSet(advertiser.id) }">
              <a href ng-click="setTab(advertiser.id)">{{advertiser.name}}  <i ng-show="isRun(advertiser.id)">(now running)</i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div ng-repeat="advertiser in allAdvertisers" ng-show="isSet(advertiser.id)">
            <table class="table table-hover">
              <thead>
              <th>
                Start Time
              </th>
              <th>
                Duration
              </th>
              <th>
                Base Amount
              </th>
              <th>
                Clicks
              </th>
              <th>
                Revenue
              </th>
              </thead>
              <tr ng-show="isRun(advertiser.id)">
                <td>
                  {{currentAds[advertiser.id].startTime | date : 'medium' : '-4'}}
                </td>
                <td>
                  {{currentAds[advertiser.id].duration}}
                </td>
                <td>
                  {{currentAds[advertiser.id].base}}
                </td>
                <td>
                  {{currentAds[advertiser.id].click}}
                </td>
                <td>
                  {{currentAds[advertiser.id].click * currentAds[advertiser.id].base}}
                </td>
              </tr>
              <tr ng-repeat="history in advertiser.histories">
                <td>
                  {{history.startTime | date : 'medium' : '-4'}}
                </td>
                <td>
                  {{history.duration}}
                </td>
                <td>
                  {{history.base}}
                </td>
                <td>
                  {{history.click}}
                </td>
                <td>
                  {{history.click * history.base}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="components/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
